---
import "../styles/global.css";
import MainHead from "./MainHead.astro";
import Footer from "./MainFooter.astro";
import Nav from "../components/Nav.astro";

const {
  title = "default title",
  description = "default description",
  image,
  data,
  robots,
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} {image} {data} {robots} />
  <body>
    <Nav />
    <main>
      <slot>default content</slot>
    </main>
    <Footer />
  </body>
</html>
